[Desktop Entry]
Type=Application
Version=1.0
Name=GekkoApp Control Center
GenericName=Post-install & configuration tool
Comment=Post-install & config: Kito, Bauh, Gekko ADB, Terminal, Hyprland, Niri, Gaming, Chaotic AUR
Exec=__GEKKOAPP_GUI_BIN__
Icon=org.thegekko.gekkoapp
Terminal=false
Categories=System;Settings;PackageManager;
Keywords=gekkoapp;control;center;kito;bauh;gekko-adb;adb;terminal;hyprland;niri;gaming;chaotic;post-install;
StartupNotify=true
